<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__ https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in Part III of the first lab in the course. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://zxg24050:c8xjr^88dfz3gvr4@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: zxg24050@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### How many rows are in each dataset?

In [4]:
# Rows in Census Data (Socieconimic Indicators)
%sql select count(*) from CENSUS_DATA

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [5]:
# Rows in Public Schools
%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [6]:
# Rows in Crime Data
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Find average college enrollments by community area

(When taking a screenshot for sharing, the first 5-10 rows of the result set are sufficient)

In [12]:
%sql select avg("COLLEGE_ENROLLMENT") as "Mean Enrollment", \
    "COMMUNITY_AREA_NAME" as "Community Area" \
    from CHICAGO_PUBLIC_SCHOOLS\
    group by "COMMUNITY_AREA_NAME"

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('858.000000'), 'ALBANY PARK'),
 (Decimal('2411.500000'), 'ARCHER HEIGHTS'),
 (Decimal('486.000000'), 'ARMOUR SQUARE'),
 (Decimal('810.375000'), 'ASHBURN'),
 (Decimal('417.500000'), 'AUBURN GRESHAM'),
 (Decimal('475.347826'), 'AUSTIN'),
 (Decimal('507.333333'), 'AVALON PARK'),
 (Decimal('910.000000'), 'AVONDALE'),
 (Decimal('1198.833333'), 'BELMONT CRAGIN'),
 (Decimal('409.000000'), 'BEVERLY'),
 (Decimal('633.400000'), 'BRIDGEPORT'),
 (Decimal('1205.875000'), 'BRIGHTON PARK'),
 (Decimal('549.000000'), 'BURNSIDE'),
 (Decimal('261.333333'), 'CALUMET HEIGHTS'),
 (Decimal('560.222222'), 'CHATHAM'),
 (Decimal('1012.285714'), 'CHICAGO LAWN'),
 (Decimal('521.250000'), 'CLEARING'),
 (Decimal('424.545454'), 'DOUGLAS'),
 (Decimal('761.333333'), 'DUNNING'),
 (Decimal('410.538461'), 'EAST GARFIELD PARK'),
 (Decimal('1061.000000'), 'EAST SIDE'),
 (Decimal('766.666666'), 'EDGEWATER'),
 (Decimal('455.000000'), 'EDISON PARK'),
 (Decimal('401.882352'), 'ENGLEWOOD'),
 (Decimal('477.000000'), 'FOREST GLEN'),
 (Decimal('265.500000'), 'FULLER PARK'),
 (Decimal('991.500000'), 'GAGE PARK'),
 (Decimal('910.400000'), 'GARFIELD RIDGE'),
 (Decimal('351.125000'), 'GRAND BOULEVARD'),
 (Decimal('405.100000'), 'GREATER GRAND CROSSING'),
 (Decimal('481.500000'), 'HEGEWISCH'),
 (Decimal('993.750000'), 'HERMOSA'),
 (Decimal('663.076923'), 'HUMBOLDT PARK'),
 (Decimal('482.500000'), 'HYDE PARK'),
 (Decimal('862.666666'), 'IRVING PARK'),
 (Decimal('877.500000'), 'JEFFERSON PARK'),
 (Decimal('612.428571'), 'KENWOOD'),
 (Decimal('641.363636'), 'LAKE VIEW'),
 (Decimal('802.142857'), 'LINCOLN PARK'),
 (Decimal('826.400000'), 'LINCOLN SQUARE'),
 (Decimal('668.272727'), 'LOGAN SQUARE'),
 (Decimal('871.000000'), 'LOOP'),
 (Decimal('659.727272'), 'LOWER WEST SIDE'),
 (Decimal('388.000000'), 'MCKINLEY PARK'),
 (Decimal('1317.000000'), 'MONTCLARE'),
 (Decimal('654.200000'), 'MORGAN PARK'),
 (Decimal('522.750000'), 'MOUNT GREENWOOD'),
 (Decimal('480.285714'), 'NEAR NORTH SIDE'),
 (Decimal('459.333333'), 'NEAR SOUTH SIDE'),
 (Decimal('498.437500'), 'NEAR WEST SIDE'),
 (Decimal('609.384615'), 'NEW CITY'),
 (Decimal('1077.285714'), 'NORTH CENTER'),
 (Decimal('321.625000'), 'NORTH LAWNDALE'),
 (Decimal('842.000000'), 'NORTH PARK'),
 (Decimal('808.625000'), 'NORWOOD PARK'),
 (Decimal('140.000000'), 'OAKLAND'),
 (Decimal('786.000000'), 'OHARE'),
 (Decimal('993.428571'), 'PORTAGE PARK'),
 (Decimal('324.000000'), 'PULLMAN'),
 (Decimal('386.750000'), 'RIVERDALE'),
 (Decimal('678.000000'), 'ROGERS PARK'),
 (Decimal('540.000000'), 'ROSELAND'),
 (Decimal('577.571428'), 'SOUTH CHICAGO'),
 (Decimal('464.750000'), 'SOUTH DEERING'),
 (Decimal('672.409090'), 'SOUTH LAWNDALE'),
 (Decimal('504.777777'), 'SOUTH SHORE'),
 (Decimal('626.857142'), 'UPTOWN'),
 (Decimal('445.111111'), 'WASHINGTON HEIGHTS'),
 (Decimal('529.600000'), 'WASHINGTON PARK'),
 (Decimal('1233.333333'), 'WEST ELSDON'),
 (Decimal('457.384615'), 'WEST ENGLEWOOD'),
 (Decimal('327.750000'), 'WEST GARFIELD PARK'),
 (Decimal('1051.750000'), 'WEST LAWN'),
 (Decimal('324.000000'), 'WEST PULLMAN'),
 (Decimal('910.777777'), 'WEST RIDGE'),
 (Decimal('471.450000'), 'WEST TOWN'),
 (Decimal('525.750000'), 'WOODLAWN')]

### Problem 3

##### Find the number of schools that are healthy school certified

In [14]:
%sql select COUNT(*) as "Health Certified Schools"\
    from CHICAGO_PUBLIC_SCHOOLS\
    where "HEALTHY_SCHOOL_CERTIFIED" like 'Yes';

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

### Problem 4

##### How many observations have a Location Description value of GAS STATION

In [16]:
%sql select COUNT(*) AS "Gas Station Observations" \
    from CHICAGO_CRIME_DATA \
    where LOCATION_DESCRIPTION LIKE 'GAS STATION';

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Problem 5

##### Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.

In [25]:
%sql select "COMMUNITY_AREA_NAME" as "Area", \
    count("COMMUNITY_AREA_NAME") as "Top School Count" \
    from CHICAGO_PUBLIC_SCHOOLS \
    group by "COMMUNITY_AREA_NAME" \
    order by "Top School Count" desc \
    limit 10;

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('23')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('WEST TOWN', Decimal('20')),
 ('ENGLEWOOD', Decimal('17')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('ROSELAND', Decimal('13')),
 ('NEW CITY', Decimal('13')),
 ('HUMBOLDT PARK', Decimal('13'))]

### Problem 6

##### How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)

In [27]:
%sql select COUNT(*) as "Motor Vehicle Theft Observations" \
    from CHICAGO_CRIME_DATA \
    where "PRIMARY_TYPE" like 'MOTOR VEHICLE THEFT';

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

### Problem 7

##### Use INNER JOIN to find the __MINIMUM__ (i.e. lowest) “Average Student Attendance” for the community area where hardship is 96.

In [10]:
%sql select CPS.COMMUNITY_AREA_NAME as "Area", \
min(CPS.AVERAGE_STUDENT_ATTENDANCE) as "min School Attendance",\
CD.HARDSHIP_INDEX as "Hardship Index" \
from CHICAGO_PUBLIC_SCHOOLS as CPS \
INNER JOIN CENSUS_DATA as CD on CPS.COMMUNITY_AREA_NUMBER=CD.COMMUNITY_AREA_NUMBER\
group by CPS.COMMUNITY_AREA_NAME having CD.HARDSHIP_INDEX='96'

 * ibm_db_sa://zxg24050:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0119N  An expression starting with "HARDSHIP_INDEX" specified in a SELECT clause, HAVING clause, or ORDER BY clause is not specified in the GROUP BY clause or it is in a SELECT clause, HAVING clause, or ORDER BY clause with a column function and no GROUP BY clause is specified.  SQLSTATE=42803 SQLCODE=-119 [SQL: 'select CPS.COMMUNITY_AREA_NAME as "Area",  min(CPS.AVERAGE_STUDENT_ATTENDANCE) as "min School Attendance", CD.HARDSHIP_INDEX as "Hardship Index"  from CHICAGO_PUBLIC_SCHOOLS as CPS  INNER JOIN CENSUS_DATA as CD on CPS.COMMUNITY_AREA_NUMBER=CD.COMMUNITY_AREA_NUMBER group by CPS.COMMUNITY_AREA_NAME having CD.HARDSHIP_INDEX=\'96\''] (Background on this error at: http://sqlalche.me/e/f405)

Hint 1: Look at the values of the columns are you using to JOIN the tables ON. It might be easier to join on numeric fields.

Hint 2: Although not required for the solution, if your select clause has additional columns like "Community Area Name" you will need to use the GROUP BY clause.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).